{
  users = {
    # to create a new hashedPassword, run: $ mkpasswd -m sha-512
    #
    # default password: asdf

    root.hashedPassword = "$6$lZXzVmkE5eslPRD$PXdvV.VBJLUx5jSiwra.4nijoUQVnxSqS9De0vkRCxfhY7662NndwSE1i0UoK0g.Lf2fso0UqQmcTNm5c9md5.";
    peter.hashedPassword = "$6$lZXzVmkE5eslPRD$PXdvV.VBJLUx5jSiwra.4nijoUQVnxSqS9De0vkRCxfhY7662NndwSE1i0UoK0g.Lf2fso0UqQmcTNm5c9md5.";
  };

  tokens = {
    drone = "";
  };
}

